{% extends 'base.html'%}

{% block title %}Boggle Board{% endblock%}

{% block content %}
<body>
    <h1>Boggle Game</h1>
    <button id="start-game">Start Game</button>
    <div class="board-layout">
        <div id="side-container-left">
            <div id="game-container" style="display: none;">
                <div id="board">
                    {% for row in board %}
                        <div class="row">
                            {% for letter in row %}
                                <div class="cell">{{ letter }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            <form action="/guess" method="post">
                <input type="text" name="guess" autocomplete="off" required>
                <button type="submit">Submit</button>
            </form>
    
        </div>

        <div id="side-container-right">
            <div id="score-container" style="display: none;">
                <p id="score">Score: 0</p>
                <p id="result"></p>
                <p id="time"></p>
                <p>Found Words: <span id="found-words"></span></p>
            </div>
        </div>
    </div>
   

    <div id="game-over-popup" style="display: none;">
        <p>Time's up! Your score is <span id="final-score"></span>.</p>
        <button id="play-again">Play Again</button>
        <button id="cancel">Cancel</button>
    </div>
</body>
{% endblock%}
